.footer {
    width: 100%;
    background: #ffffff;
    padding: 18px 24px calc(18px + env(safe-area-inset-bottom, 0px)) 24px;
    box-shadow: 0px -10px 22.9px 0px rgba(0, 0, 0, 0.05);
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #6C7A5F;
    border-radius: 8px;
    padding: 11px 12px 10px 18px;
    transition: background-color 200ms ease;
}

.btn h4 {
    font-family: var(--lato);
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
}

.disabled {
    background-color: #B0BAA8;
}
