.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.card {
  width: 100%;
  max-width: 300px;
  background: #ffffff;
  border-radius: 12px;
  padding: 25px 10px 31px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: rgba(108, 122, 87, 0.1);
  border-radius: 50%;
  margin-bottom: 12px;
}

.title {
  font-family: var(--lato);
  font-size: 14px;
  font-weight: 400;
  color: #4B3827;
  text-align: center;
  margin: 0;
}

.description {
  font-family: var(--lato);
  font-size: 12px;
  font-weight: 500;
  color: #8C8C8C;
  text-align: center;
  margin: 8px 0 0 0;
  width: 249px;
  line-height: 1.5;
}

.highlight {
  color: #4B3827;
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 34px;
  align-items: center;
  justify-content: center;
}

.noBtn {
  padding: 7px 34px;
  border-radius: 8px;
  background-color: rgba(108, 122, 87, 0.2);
  border: none;
  cursor: pointer;
  font-family: var(--lato);
  font-size: 12px;
  font-weight: 700;
  color: #6c7a57;
}

.replaceBtn {
  padding: 7px 21px;
  border-radius: 8px;
  background-color: #6c7a57;
  border: none;
  cursor: pointer;
  font-family: var(--lato);
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
