.main{
    display: flex;
    width: 100%;
    background: #6C7A5F;
    padding: 62px 24px 13px 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
   
}
.MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.LeftCoantiner{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 4px;
    max-width: 220px;
}
.LeftCoantiner h3{
    font-family: var(--lexend);
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    ;
}
.LeftCoantiner p{
     font-family: var(--lato);
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    white-space: nowrap;
    margin: 0;
}
.RightContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: right;
    align-items: center;
}